<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="min-width: 165px;">
            <a class="navbar-brand" href="#">Cloud Pay Full</a>
        </div>
        <div>
            <!--<p class="navbar-text navbar-left">向左对齐-文本</p>-->
            <ul class="nav navbar-nav">
                <li ng-repeat="menu in menuAreaArray"><a href="#">iOS</a></li>
            </ul>

            <!--向右对齐-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b class="glyphicon glyphicon-user"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href=""><i class="fa fa-user fa-fw"></i> {{userInfo.userName}}</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="toChangePwd()"><i class="fa fa-gear fa-fw"></i> 密码修改</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;" data-ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Language <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="changeLanguage('zh-cn')">简体中文 <i class="fa fa-language fa-fw" ng-show="globalLanguage=='zh-cn'"></i></a></li>
                        <li><a href="javascript:;" ng-click="changeLanguage('en')">English <i class="fa fa-language fa-fw" ng-show="globalLanguage=='en'"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<cpf-menu menu-array="menuArray" sidebar-type="{{sidebarType}}" class="collapse navbar-collapse menu menu-sidebar" role="navigation"></cpf-menu>
<!--</div>-->
<section id="main" onautocomplete="off">
    <section id="page-wrapper" data-ui-view style="padding-top: 10px;"></section>
</section>

<!-- Modal -->
<div class="modal fade" id="logoutConfirmDialogModal" tabindex="-1" role="dialog" aria-labelledby="logoutConfirmDialogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="logoutConfirmDialogLabel">注销确认</h4>
            </div>
            <div class="modal-body">
                您确认退出登陆吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-danger" ng-click="logout()">确定注销</button>
            </div>
        </div>
    </div>
</div>